* {
  margin: 0;
  padding: 0;

}

body {
  background-color: #202020;
  font-size: 16px;
}

button {
  background-color: #E08594;
  border: none;
  outline: none;
  color: #fff;
  padding: 4px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

button:hover {
  background-color: #b66976;
}

form {
  padding: 0 10px;
  color: #fff;
}

input {
  border: 1 px solid transparent;
  outline: none;
  color: #222;
  padding: 4px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: border-color 0.4s ease-in-out;
  display: block;
  outline: none;
}

input:focus {
  border-color: #E08594;
}